

:root {
    --acquamar: #06faf6;
    --black-light: #494949;
    --grey: #bcbdbd;
    --white:#ffff;
    --acquamarosc:  #019694;
    --sm: 11px;
    --md: 14px;
    --lg: 20px;
  }


.page {
    background: url(/img/bg-pattern-top.png), url(/img/bg-pattern-bottom.png);
    background-position: top -1020px left -1020px, bottom -1320px right -900px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:var(--acquamarosc);
    background-blend-mode: overlay;
    
    width: 100%;
    height: 100hv;
}
.profile-card {
    max-width: 300px;
    background-color: var(--acquamar);
    border-radius: 5px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, .5);
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
}

.profile-card img {
    transition: all 0.25s linear;
}

.profile-card .profile-content {
    position: relative;
    padding: 15px;
    background-color: var(--acquamar);
}

.profile-card .profile-name {
    font-family:  'Roboto', sans-serif;
    font-weight: bold;
    position: absolute;
    left: 0px;
    right: 0px;
    top: -60px;
    color: var(--white);
    font-size: 19px;
    letter-spacing: 3px;
}

.profile-card .profile-name p {
    color: var(--grey);
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1.5px;
}

.profile-card .profile-description {
    color: var(--black-light);
    font-family: 'Georgia', serif;
    font-size: 12px;
    padding: 10px;
    letter-spacing: 1.5px;
}


.profile-card:hover img {
    transform: rotate(5deg) scale(1.1, 1.1);
    filter: brightness(60%);
}

@media only screen and (max-width: 850px){
.page {  
    background-position: top -400px left -400px, bottom -500px right -300px;
}}