:root {
    --blue-light: #92ccff;
    --blue-dark: #003351;
    --blue-llight: #cce5ff;
    --blue:  #006397;
    --sm: 11px;
    --md: 14px;
    --lg: 20px;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: url(https://tere2021.github.io/idcard/img/bg-pattern-top.png), url(https://tere2021.github.io/idcard/img/bg-pattern-bottom.png)!important;
    background-position: top -1000px left -1000px, bottom -1100px right -1000px !important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-color:var(--blue-dark)!important;
    background-blend-mode: overlay!important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   height: 100vh;
}


h4{
    padding-top: 30px;
    padding-left: 0px!important;
    color: var(--blue-dark);
}
h5, p {
    color: var(--blue-llight);
}
td p {
    color: var(--blue);
    font-size: 14px;
}
p {
    font-size: 12px;
    margin-bottom: 0!important;
    padding-top: 7px; 
    font-weight: lighter;
}
h5{
    margin-bottom: 10px;
    padding-top: 10px;
    font-size: 14px;
}

#redesSociales {
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 4px;
    border-radius: 15px;
   margin-left: 2rem;
   background: linear-gradient(180deg, var(--blue-llight), var(--blue-light));
   border: 1px solid var(--blue);
}
.card {
  
    max-width: 300px;
    background-color: var(--blue-light);
    border-radius: 5px;  
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
}

.card img {
    transition: border 0.9s linear;
}
.profile-card img {
    transition: all 0.25s linear;
}

.profile-card .profile-content {
    position: relative;
    padding: 15px;
    background-color: var(--blue-llight);
}

.profile-card .profile-name {
    font-family:  'Roboto', sans-serif;
    font-weight: bold;
    position: absolute;
    left: 0px;
    right: 0px;
    top: -60px;
    color: var(--blue-llight);
    font-size: 19px;
    letter-spacing: 3px;
}

.profile-card .profile-name p {
  
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1.5px;
}

.profile-card .profile-description {
    color: var(--blue);
    font-family: 'Georgia', serif;
    font-size: 12px;
    padding: 10px;
    letter-spacing: 1.5px;
}


.profile-card:hover img {
    transform: rotate(5deg) scale(1.1, 1.1);
    filter: brightness(60%);
}



  td {
  padding: 0px!important;
}
  
@media only screen and (min-width: 576px){
    body{
        background-position: top -500px left -500px, bottom -500px right -500px!important;
    }

}


@media only screen and (min-width: 768px){
    body{
        background-position: top -500px left -500px, bottom -500px right -500px!important;
    }
}


@media only screen and (min-width: 992px){
    body{
        background-position: top -700px left -700px, bottom -700px right -700px!important;
    }
}

@media only screen and (min-width: 1200px){
    body{
        background-position: top -800px left -800px, bottom -800px right -800px!important;
    }
}
